/**************************
  FOOTER
**************************/

footer {
  position: absolute;
  bottom: 0;
  height: 200px;
  background-color: $c3;
  text-align: center;
  @include flexbox(row, center, center);

  > div:first-of-type {
    color: white;
    font-size: 0.8rem;
  }

  > div:last-of-type {
    color: white;

    > a {
      color: white;
      text-decoration: underline;
    }
  }
}
