.formPageWrap {
  min-height: 100vh;
  height: 100%;
  width: 75%;
  margin: 0 auto;
  background-color: white;
}

.formTop {
  padding: 15px 0;
  background-color: $c3;
  text-align: center;

  a {
    &:hover {
      text-decoration: none;

      > h1 {
        color: white;
      }
    }

    h1 {
      color: $c1;
      font-size: 3rem;
      font-family: $display;
      @include transition;
    }
  }
}

.headerWrap {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 25px 0;
  border-bottom: 1px solid lightgray;
  h1 {
    text-align: center;
    color: $c3;
    font-size: 50px;
  }
  h2 {
    text-align: center;
    color: $c4;
    padding-left: 25px;
  }
}

.formWrap {
  height: 100%;
  margin-top: 25px;

  form {
    padding-bottom: 100px;
    @include flexbox(column, center, center);

    .formName,
    .formImage,
    .formAbout {
      width: 70%;
      margin-bottom: 50px;
      @include flexbox(column, center, center);

      > h2 {
        width: 100%;
        text-align: left;
        margin-bottom: 10px;

        > span {
          font-size: 0.75rem;
        }
      }

      > input,
      > textarea {
        border-radius: 10px;
        text-align: center;
        width: 100%;
        padding: 5px;
        font-size: 1rem;
        border: 5px solid $c1;
        @include transition;

        &:focus {
          outline: 0;
          border-color: $c3;
        }
      }
    }

    h2 {
      font-weight: lighter;
    }

  .formSkills {
    h2 {
      text-align: center;
      margin-bottom: 25px;
    }

    .radioSkills {
      margin-top: 10px;
      @include flexbox(row, center, center);

      .radioSkill {
        width: 33.33%;
        @include flexbox(column, center, center);

        .circles {
          cursor: pointer;
          height: 100px;
          width: 100px;
          margin-left: 25px;
          margin-right: 25px;
          padding: 10px;
          border-radius: 50%;
          background-color: lightgray;
          @include flexbox(row, center, center);
          @include transition;

          &.activeSkill {
            background-color: $c2;

            &:hover {
              background-color: $c2;
            }

            > svg {
              fill: white;
            }
          }

          svg {
            height: 100px;
            width: 100px;
            fill: $dt;
            @include transition;
          }

          &:hover {
            background-color: $c1;

            > svg {
              fill: white;
            }
          }
        }

        > div:last-of-type {
          @include flexbox(row, center, center);

          > input {
            width: 60%;
            margin: 10px 0 25px;
            text-align: center;
            font-size: 1.1rem;
            padding: 5px;
            border: 5px solid $c1;
            color: $pt;
            @include transition;

            &:disabled {
              border-color: white;
              background-color: white;
              color: white;
            }

            &:focus {
              outline: 0;
              border-color: $c3;
            }
          }
        }
      }
    }
  }

    textarea {
      resize: none;
      width: 60%;
      margin: 10px 0 25px;
      max-width: 800px;
    }

    .formAvailability {
      width: 100%;
      @include flexbox(column, center, center);

      > div {
        h2 {
          margin: 25px 0 25px;
        }
      }

      .dates {
        @include flexbox(row, space-between, flex-start);
        width: 98%;
        height: auto;
        font-size: 24px;
        font-weight: bold;

        .date {
          color: $dt;
          height: 150px;
          width: 14%;
          text-align: center;
          @include transition;

          > div:first-of-type {
            cursor: pointer;
            font-size: 1.15rem;
            text-decoration: underline;
            padding: 5px 0;
            @include flexbox(row, center, center);
            @include transition;

            &:hover {
              color: white;
              background-color: $c1;
            }

            &.activeDay {
              background-color: $c2;
              color: white;

              &:hover {
                background-color: $c2;
              }
            }
          }

          > div:last-of-type {
            display: none;
            font-size: 0.70rem;
            background-color: $c2;
            padding: 0 0 10px;
            color: white;

            > input {
              text-align: center;
              padding: 0;
              width: 90%;
              color: $pt;
            }
          }
        }
      }
    }

    .formSubmit {
      width: 75%;
      margin-top: 50px;

      input {
        border-radius: 10px;
        width: 100%;
        background-color: $c3;
        color: white;
        border: 0;
        padding: 25px 0;
        font-size: 2rem;
        @include transition;

        &:focus {
          outline: 0;
        }

        &:hover {
          background-color: $c2;
        }
      }
    }
  }
}
