/**************************
SASS VARIABLES & MIXINS
**************************/
/**************************
SETUP
**************************/
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

a {
  text-decoration: none;
  color: #212121; }

a, a:active, a:focus {
  outline: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif; }

h1, h2, h3, h4, h5, h6, li, ul {
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

img {
  max-width: 100%; }

html {
  font-size: 24px;
  font-family: "Roboto Slab", serif;
  color: #212121; }

html, body {
  height: 100%;
  width: 100%; }

body {
  background: url("../media/cosmetology.jpg"); }

.clearfix {
  overflow: auto; }

/**************************
ANIMATIONS
**************************/
.ng-enter {
  -webkit-animation: fadeIn .25s both ease-in;
  animation: fadeIn .25s both ease-in;
  z-index: 9; }

.ng-leave {
  -webkit-animation: fadeOut .125s both ease-in;
  animation: fadeOut .125s both ease-in;
  z-index: 8; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes loader {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(180deg); }
  50% {
    transform: rotate(180deg); }
  75% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes loader-inner {
  0% {
    height: 0%; }
  25% {
    height: 0%; }
  50% {
    height: 100%; }
  75% {
    height: 100%; }
  100% {
    height: 0%; } }
/**************************
IMPORTS
**************************/
/**************************
  LOGIN
**************************/
.loginContainer {
  height: 100vh;
  width: 100vw;
  background-image: url("../media/makeup-bg.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .loginContainer > .row > .panel {
    background-color: #42929D;
    height: 650px;
    width: 450px;
    min-height: 650px;
    min-width: 400px;
    border: 10px solid #42929D;
    border-radius: 1%; }
    .loginContainer > .row > .panel > .loginTitle {
      height: 15%;
      background-color: #42929D;
      font-size: 3.5rem;
      color: #F8D9D6;
      font-family: "Lobster Two", cursive; }
    .loginContainer > .row > .panel > .panel-body {
      height: 85%;
      max-height: 100%;
      border-radius: 2.5%;
      background-color: white;
      padding: 0; }
      .loginContainer > .row > .panel > .panel-body > .loginBlock {
        height: 70%; }
        .loginContainer > .row > .panel > .panel-body > .loginBlock > .loginForm {
          height: 100%;
          width: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
          .loginContainer > .row > .panel > .panel-body > .loginBlock > .loginForm > div {
            height: 33.33%;
            width: 80%;
            font-size: 1rem;
            color: #42929D;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
            .loginContainer > .row > .panel > .panel-body > .loginBlock > .loginForm > div > i {
              font-size: 1.25rem; }
            .loginContainer > .row > .panel > .panel-body > .loginBlock > .loginForm > div > input {
              width: 100%;
              margin-top: 5px;
              border-radius: 10px;
              height: 50px;
              border: 3px solid #42929D;
              text-align: center;
              padding: 2.5px;
              -webkit-transition: all .25s ease;
              transition: all .25s ease; }
              .loginContainer > .row > .panel > .panel-body > .loginBlock > .loginForm > div > input:focus {
                border-color: #84C3C8;
                outline: 0; }
            .loginContainer > .row > .panel > .panel-body > .loginBlock > .loginForm > div > input[type=submit] {
              border: none;
              padding: 10px 0;
              width: 100%;
              background-color: #42929D;
              font-weight: 300;
              color: white; }
              .loginContainer > .row > .panel > .panel-body > .loginBlock > .loginForm > div > input[type=submit]:hover {
                background-color: #84C3C8; }
      .loginContainer > .row > .panel > .panel-body > .signupLinkBlock {
        height: 30%;
        font-size: 0.85rem;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        .loginContainer > .row > .panel > .panel-body > .signupLinkBlock > div {
          text-align: center;
          color: #42929D; }
          .loginContainer > .row > .panel > .panel-body > .signupLinkBlock > div > a {
            color: #42929D;
            border-top: 2px solid white;
            border-bottom: 2px solid #42929D;
            border-radius: 2.5%;
            padding: 2.5px 5px;
            -webkit-transition: all .25s ease;
            transition: all .25s ease; }
            .loginContainer > .row > .panel > .panel-body > .signupLinkBlock > div > a:hover {
              text-decoration: none;
              background-color: #42929D;
              color: white; }
      .loginContainer > .row > .panel > .panel-body > .signupBlock {
        height: 80%; }
        .loginContainer > .row > .panel > .panel-body > .signupBlock > .signupForm {
          height: 100%;
          width: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
          .loginContainer > .row > .panel > .panel-body > .signupBlock > .signupForm > div {
            height: 20%;
            width: 90%;
            font-size: 1rem;
            color: #42929D;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
            .loginContainer > .row > .panel > .panel-body > .signupBlock > .signupForm > div > i {
              width: 15%;
              font-size: 1.25rem; }
            .loginContainer > .row > .panel > .panel-body > .signupBlock > .signupForm > div > input {
              width: 85%;
              margin-top: 5px;
              border-radius: 10px;
              height: 50px;
              border: 3px solid #42929D;
              text-align: center;
              padding: 2.5px;
              -webkit-transition: all .25s ease;
              transition: all .25s ease; }
              .loginContainer > .row > .panel > .panel-body > .signupBlock > .signupForm > div > input:focus {
                border-color: #84C3C8;
                outline: 0; }
            .loginContainer > .row > .panel > .panel-body > .signupBlock > .signupForm > div > div {
              width: 50%;
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -webkit-flex-direction: column;
              -ms-flex-direction: column;
              flex-direction: column;
              -webkit-box-pack: center;
              -webkit-justify-content: center;
              -ms-flex-pack: center;
              justify-content: center;
              -webkit-box-align: center;
              -webkit-align-items: center;
              -ms-flex-align: center;
              align-items: center;
              -webkit-flex-wrap: wrap;
              -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
              .loginContainer > .row > .panel > .panel-body > .signupBlock > .signupForm > div > div > * {
                margin: 0; }
              .loginContainer > .row > .panel > .panel-body > .signupBlock > .signupForm > div > div > label {
                font-size: 0.8rem; }
            .loginContainer > .row > .panel > .panel-body > .signupBlock > .signupForm > div > input[type=submit] {
              border: none;
              padding: 10px 0;
              width: 100%;
              background-color: #42929D;
              font-weight: 300;
              color: white; }
              .loginContainer > .row > .panel > .panel-body > .signupBlock > .signupForm > div > input[type=submit]:hover {
                background-color: #84C3C8; }
      .loginContainer > .row > .panel > .panel-body > .loginLinkBlock {
        height: 20%;
        font-size: 0.85rem;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        .loginContainer > .row > .panel > .panel-body > .loginLinkBlock > div {
          text-align: center;
          color: #42929D; }
          .loginContainer > .row > .panel > .panel-body > .loginLinkBlock > div > a {
            color: #42929D;
            border-top: 2px solid white;
            border-bottom: 2px solid #42929D;
            border-radius: 2.5%;
            padding: 2.5px 5px;
            -webkit-transition: all .25s ease;
            transition: all .25s ease; }
            .loginContainer > .row > .panel > .panel-body > .loginLinkBlock > div > a:hover {
              text-decoration: none;
              background-color: #42929D;
              color: white; }

/**************************
  FEED
**************************/
.feedWrap {
  width: 65%;
  height: auto;
  min-height: 1000px;
  max-width: 1000px;
  margin: 0 auto;
  background: white;
  border-left: 5px solid #F8D9D6;
  border-right: 5px solid #F8D9D6; }
  .feedWrap .feedOptions .feedOptionsContentWrapper {
    display: none; }
    .feedWrap .feedOptions .feedOptionsContentWrapper .feedOptionsContent {
      height: 100%;
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      text-align: center;
      padding: 75px 0 0;
      height: 300px;
      background-color: #84C3C8; }
      .feedWrap .feedOptions .feedOptionsContentWrapper .feedOptionsContent .feedOptionsSkills {
        height: 25%;
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        .feedWrap .feedOptions .feedOptionsContentWrapper .feedOptionsContent .feedOptionsSkills .feedOptionsSkillBlock .circles {
          margin: 0 12.5px;
          cursor: pointer;
          width: 75px;
          height: 75px;
          background-color: #42929D;
          border-radius: 50%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-transition: all .25s ease;
          transition: all .25s ease; }
          .feedWrap .feedOptions .feedOptionsContentWrapper .feedOptionsContent .feedOptionsSkills .feedOptionsSkillBlock .circles:hover {
            background-color: #878787; }
            .feedWrap .feedOptions .feedOptionsContentWrapper .feedOptionsContent .feedOptionsSkills .feedOptionsSkillBlock .circles:hover svg {
              fill: lightgray; }
          .feedWrap .feedOptions .feedOptionsContentWrapper .feedOptionsContent .feedOptionsSkills .feedOptionsSkillBlock .circles svg {
            width: 50px;
            height: 50px;
            fill: white;
            -webkit-transition: all .25s ease;
            transition: all .25s ease; }
      .feedWrap .feedOptions .feedOptionsContentWrapper .feedOptionsContent .feedOptionsSort {
        height: 75%;
        width: 50%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        .feedWrap .feedOptions .feedOptionsContentWrapper .feedOptionsContent .feedOptionsSort > div {
          height: 80%;
          width: 60%;
          margin: 0 auto;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
          .feedWrap .feedOptions .feedOptionsContentWrapper .feedOptionsContent .feedOptionsSort > div > div {
            width: 100%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
            .feedWrap .feedOptions .feedOptionsContentWrapper .feedOptionsContent .feedOptionsSort > div > div > div > * {
              padding: 0;
              margin: 0; }
            .feedWrap .feedOptions .feedOptionsContentWrapper .feedOptionsContent .feedOptionsSort > div > div > div:first-of-type {
              width: 20%; }
              .feedWrap .feedOptions .feedOptionsContentWrapper .feedOptionsContent .feedOptionsSort > div > div > div:first-of-type > input {
                font-size: 1.5rem; }
            .feedWrap .feedOptions .feedOptionsContentWrapper .feedOptionsContent .feedOptionsSort > div > div > div:last-of-type {
              width: 80%; }
              .feedWrap .feedOptions .feedOptionsContentWrapper .feedOptionsContent .feedOptionsSort > div > div > div:last-of-type > label {
                font-size: 1rem; }
      .feedWrap .feedOptions .feedOptionsContentWrapper .feedOptionsContent .feedOptionsFilter {
        width: 50%;
        height: 75%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        .feedWrap .feedOptions .feedOptionsContentWrapper .feedOptionsContent .feedOptionsFilter > div {
          height: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
          .feedWrap .feedOptions .feedOptionsContentWrapper .feedOptionsContent .feedOptionsFilter > div > label {
            font-size: 1.1rem; }
          .feedWrap .feedOptions .feedOptionsContentWrapper .feedOptionsContent .feedOptionsFilter > div > input {
            text-align: center;
            font-size: 1rem;
            border: 5px solid #F8D9D6;
            padding: 2.5px 5px;
            -webkit-transition: all .25s ease;
            transition: all .25s ease; }
            .feedWrap .feedOptions .feedOptionsContentWrapper .feedOptionsContent .feedOptionsFilter > div > input:focus {
              outline: 0;
              border-color: #42929D; }
  .feedWrap .feedOptions .feedOptionsDropdown {
    position: relative;
    height: 75px;
    background: #84C3C8;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .feedWrap .feedOptions .feedOptionsDropdown .dropdownIcon {
      height: 158.391px;
      width: 158.391px;
      position: relative;
      top: 0px;
      background-color: #84C3C8;
      border-radius: 50%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .feedWrap .feedOptions .feedOptionsDropdown .dropdownIcon i {
        cursor: pointer;
        font-size: 1.5rem;
        color: white;
        position: relative;
        top: 32.5%;
        -webkit-transition: all .25s ease;
        transition: all .25s ease; }
        .feedWrap .feedOptions .feedOptionsDropdown .dropdownIcon i.dropdownToggled {
          transform: rotate(-180deg); }
  .feedWrap .feedList {
    margin-top: 50px;
    padding-top: 25px;
    height: 1000px;
    overflow: scroll; }
    .feedWrap .feedList .feedCard {
      margin: 0 auto;
      width: 95%;
      height: 200px;
      margin-bottom: 25px;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .feedWrap .feedList .feedCard .feedCardInfo {
        width: 20%;
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: space-around;
        -webkit-justify-content: space-around;
        -ms-flex-pack: space-around;
        justify-content: space-around;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        .feedWrap .feedList .feedCard .feedCardInfo .feedCardImage img {
          border-radius: 50%; }
        .feedWrap .feedList .feedCard .feedCardInfo .feedCardRating {
          font-size: 1rem;
          color: gold; }
      .feedWrap .feedList .feedCard .feedCardSkills {
        height: 100%;
        width: 60%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        .feedWrap .feedList .feedCard .feedCardSkills .feedCardName {
          width: 100%;
          height: 30%;
          color: #42929D;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
        .feedWrap .feedList .feedCard .feedCardSkills .feedCardSkill {
          height: 70%;
          width: 33.33%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
          .feedWrap .feedList .feedCard .feedCardSkills .feedCardSkill .feedCardSkillIcon {
            text-align: center; }
            .feedWrap .feedList .feedCard .feedCardSkills .feedCardSkill .feedCardSkillIcon .circles {
              margin: 0 auto;
              background-color: #42929D;
              width: 75px;
              height: 75px;
              border-radius: 50%;
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -webkit-flex-direction: row;
              -ms-flex-direction: row;
              flex-direction: row;
              -webkit-box-pack: center;
              -webkit-justify-content: center;
              -ms-flex-pack: center;
              justify-content: center;
              -webkit-box-align: center;
              -webkit-align-items: center;
              -ms-flex-align: center;
              align-items: center;
              -webkit-flex-wrap: wrap;
              -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
              .feedWrap .feedList .feedCard .feedCardSkills .feedCardSkill .feedCardSkillIcon .circles svg {
                height: 50px;
                width: 50px;
                fill: white; }
          .feedWrap .feedList .feedCard .feedCardSkills .feedCardSkill .feedCardSkillPrice {
            font-size: 1rem;
            color: #42929D; }
      .feedWrap .feedList .feedCard .feedCardBook {
        width: 20%;
        height: 100%; }
        .feedWrap .feedList .feedCard .feedCardBook > button {
          height: 100%;
          width: 100%;
          border: 0;
          background-color: #42929D;
          color: white;
          font-size: 1.75rem;
          font-weight: 300;
          -webkit-transition: all .25s ease;
          transition: all .25s ease; }
          .feedWrap .feedList .feedCard .feedCardBook > button:hover {
            background-color: #84C3C8; }
          .feedWrap .feedList .feedCard .feedCardBook > button:focus {
            outline: 0; }

.accountWrap {
  width: 65%;
  height: auto;
  min-height: 1000px;
  max-width: 1000px;
  margin: 0 auto;
  background: white;
  border-left: 5px solid #F8D9D6;
  border-right: 5px solid #F8D9D6; }
  .accountWrap .rating {
    padding: 100px 0 50px;
    width: 100%;
    height: auto;
    font-size: 2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .accountWrap .rating i {
      color: gold;
      margin: 0 6.25px; }
  .accountWrap .skillsWrap {
    margin: 0 auto;
    width: 75%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-around;
    -webkit-justify-content: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .accountWrap .skillsWrap .skillBlock .circles {
      cursor: pointer;
      height: 150px;
      width: 150px;
      border-radius: 50%;
      background-color: lightgray;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-transition: all .25s ease;
      transition: all .25s ease; }
      .accountWrap .skillsWrap .skillBlock .circles > svg {
        height: 100px;
        width: 100px;
        fill: #B6B6B6;
        -webkit-transition: all .25s ease;
        transition: all .25s ease; }
      .accountWrap .skillsWrap .skillBlock .circles:hover {
        background-color: #84C3C8; }
        .accountWrap .skillsWrap .skillBlock .circles:hover + .skillsPrice {
          color: #42929D; }
        .accountWrap .skillsWrap .skillBlock .circles:hover > svg {
          fill: white; }
    .accountWrap .skillsWrap .skillBlock .skillsPrice {
      font-size: 1.1rem;
      margin-top: 12.5px;
      text-align: center;
      -webkit-transition: all .25s ease;
      transition: all .25s ease; }
  .accountWrap .aboutWrap {
    width: 80%;
    height: auto;
    border-bottom: 1px solid lightgray;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 1rem; }
    .accountWrap .aboutWrap h1 {
      text-align: center;
      margin-bottom: 25px;
      font-size: 1.75rem; }
    .accountWrap .aboutWrap p {
      margin-bottom: 25px; }
  .accountWrap .availability {
    width: 80%;
    height: auto;
    margin: 25px auto 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .accountWrap .availability h1 {
      font-size: 1.75rem;
      margin: 25px 0 50px; }
    .accountWrap .availability .dates {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: space-between;
      -webkit-justify-content: space-between;
      -ms-flex-pack: space-between;
      justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 100%;
      height: auto;
      font-size: 24px;
      font-weight: bold; }
      .accountWrap .availability .dates .date {
        height: auto;
        width: 14.25%;
        text-align: center;
        -webkit-transition: all .25s ease;
        transition: all .25s ease; }
        .accountWrap .availability .dates .date > div:first-of-type {
          font-size: 1.15rem;
          margin-bottom: 12.5px;
          text-decoration: underline; }
        .accountWrap .availability .dates .date > div:last-of-type {
          font-size: 0.75rem; }
      .accountWrap .availability .dates .date:hover {
        cursor: pointer;
        background-color: #84C3C8;
        color: white; }
      .accountWrap .availability .dates .dateInactive {
        color: #B6B6B6; }

/**************************
  NAVBAR
**************************/
nav {
  border: 0;
  height: 50px;
  background-color: #42929D;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  nav > div {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  nav > div:first-of-type {
    width: 23.625%;
    font-size: 1.5rem;
    font-family: "Lobster Two", cursive;
    color: #F8D9D6; }
  nav > div:nth-of-type(2) {
    width: 21.375%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: flex-end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    nav > div:nth-of-type(2) > button {
      position: relative;
      background-color: #F8D9D6;
      color: #42929D;
      border-radius: 5px;
      padding: 0;
      border: 0;
      width: 100%;
      height: 70%;
      z-index: 9;
      font-size: 1rem;
      font-weight: 300;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-transition: all .25s ease;
      transition: all .25s ease; }
      nav > div:nth-of-type(2) > button:hover {
        background-color: #84C3C8;
        color: white; }
      nav > div:nth-of-type(2) > button:focus {
        outline: 0; }
  nav > div:nth-of-type(3) {
    width: 10%;
    position: relative;
    background-color: pink; }
    nav > div:nth-of-type(3) > img {
      border-radius: 50%;
      position: relative;
      top: 0;
      max-width: 110%;
      border: 10px solid #42929D;
      box-sizing: content-box;
      z-index: 10; }
  nav > div:nth-of-type(4) {
    width: 35%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-around;
    -webkit-justify-content: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    nav > div:nth-of-type(4) > a {
      position: relative;
      background-color: #F8D9D6;
      color: #42929D;
      border-radius: 5px;
      width: 47.5%;
      height: 70%;
      z-index: 9;
      font-size: 1.4rem;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-transition: all .25s ease;
      transition: all .25s ease; }
      nav > div:nth-of-type(4) > a:hover {
        text-decoration: none;
        background-color: #84C3C8;
        color: white; }
  nav > div:nth-of-type(5) {
    width: 10%;
    font-size: 1.4rem; }
    nav > div:nth-of-type(5) > a {
      color: #F8D9D6;
      -webkit-transition: all .25s ease;
      transition: all .25s ease; }
      nav > div:nth-of-type(5) > a:hover {
        color: white; }

.formPageWrap {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: whitesmoke; }

.headerWrap {
  height: 150px;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 25px;
  border-bottom: 1px solid lightgray; }
  .headerWrap h1 {
    color: #42929D;
    font-size: 50px; }
  .headerWrap h2 {
    color: #767877;
    padding-left: 25px; }

.formWrap {
  height: 100%;
  margin-top: 25px; }
  .formWrap form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .formWrap form h2 {
      font-weight: lighter; }
    .formWrap form .drop {
      height: 50px;
      width: 50px;
      margin-left: 25px;
      margin-right: 25px;
      padding: 10px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-transition: all .25s ease;
      transition: all .25s ease; }
    .formWrap form .circles {
      cursor: pointer;
      height: 50px;
      width: 50px;
      margin-left: 25px;
      margin-right: 25px;
      padding: 10px;
      border-radius: 50%;
      background-color: lightgray;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-transition: all .25s ease;
      transition: all .25s ease; }
      .formWrap form .circles svg {
        height: 100px;
        width: 100px;
        fill: #B6B6B6;
        -webkit-transition: all .25s ease;
        transition: all .25s ease; }
      .formWrap form .circles:hover {
        background-color: #84C3C8; }
        .formWrap form .circles:hover + .skillsPrice {
          color: #42929D; }
        .formWrap form .circles:hover > svg {
          fill: white; }
    .formWrap form .radioSkills {
      margin-top: 10px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .formWrap form .dropPrice {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .formWrap form textarea {
      resize: none;
      width: 60%;
      margin: 10px;
      max-width: 800px; }
    .formWrap form input {
      width: 60%;
      margin: 10px;
      max-width: 800px; }
    .formWrap form .availability {
      width: 80%;
      height: 200px;
      margin: 25px auto 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: flex-start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: flex-start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .formWrap form .availability h1 {
        font-size: 1.75rem;
        margin: 25px 0 50px; }
      .formWrap form .availability .dates {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: space-between;
        -webkit-justify-content: space-between;
        -ms-flex-pack: space-between;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        font-size: 24px;
        margin-top: 10px;
        font-weight: bold; }
        .formWrap form .availability .dates .date {
          height: auto;
          width: 14.25%;
          text-align: center;
          -webkit-transition: all .25s ease;
          transition: all .25s ease; }
          .formWrap form .availability .dates .date > div:first-of-type {
            font-size: 1.15rem;
            margin-bottom: 12.5px;
            text-decoration: underline; }
          .formWrap form .availability .dates .date > div:last-of-type {
            font-size: 0.9rem; }
        .formWrap form .availability .dates .date:hover {
          cursor: pointer;
          background-color: #84C3C8;
          color: white; }
        .formWrap form .availability .dates .dateInactive {
          color: #B6B6B6; }

/*# sourceMappingURL=styles.css.map */
