/**************************
SASS VARIABLES & MIXINS
**************************/
/**************************
SETUP
**************************/
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

a {
  text-decoration: none;
  color: #212121; }

a, a:active, a:focus {
  outline: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif; }

h1, h2, h3, h4, h5, h6, li, ul {
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

img {
  max-width: 100%; }

html {
  font-size: 24px;
  font-family: "Roboto Slab", serif;
  color: #212121; }

html, body {
  height: 100%;
  width: 100%; }

.clearfix {
  overflow: auto; }

/**************************
ANIMATIONS
**************************/
.ng-enter {
  -webkit-animation: fadeIn .25s both ease-in;
  animation: fadeIn .25s both ease-in;
  z-index: 9; }

.ng-leave {
  -webkit-animation: fadeOut .125s both ease-in;
  animation: fadeOut .125s both ease-in;
  z-index: 8; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes loader {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(180deg); }
  50% {
    transform: rotate(180deg); }
  75% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes loader-inner {
  0% {
    height: 0%; }
  25% {
    height: 0%; }
  50% {
    height: 100%; }
  75% {
    height: 100%; }
  100% {
    height: 0%; } }
/**************************
IMPORTS
**************************/
/**************************
  LOGIN
**************************/
.loginContainer {
  height: 100vh;
  width: 100vw;
  background-image: url("../media/makeup-bg.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .loginContainer > .row > .panel {
    background-color: #42929D;
    height: 650px;
    width: 450px;
    min-height: 650px;
    min-width: 400px;
    border: 10px solid #42929D;
    border-radius: 1%; }
    .loginContainer > .row > .panel > .loginTitle {
      height: 15%;
      background-color: #42929D;
      font-size: 3.5rem;
      color: #F8D9D6;
      font-family: "Lobster Two", cursive; }
    .loginContainer > .row > .panel > .panel-body {
      height: 85%;
      max-height: 100%;
      border-radius: 2.5%;
      background-color: white;
      padding: 0; }
      .loginContainer > .row > .panel > .panel-body > .loginBlock {
        height: 70%; }
        .loginContainer > .row > .panel > .panel-body > .loginBlock > .loginForm {
          height: 100%;
          width: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
          .loginContainer > .row > .panel > .panel-body > .loginBlock > .loginForm > div {
            height: 33.33%;
            width: 80%;
            font-size: 1rem;
            color: #42929D;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
            .loginContainer > .row > .panel > .panel-body > .loginBlock > .loginForm > div > i {
              font-size: 1.25rem; }
            .loginContainer > .row > .panel > .panel-body > .loginBlock > .loginForm > div > input {
              width: 100%;
              margin-top: 5px;
              border-radius: 10px;
              height: 50px;
              border: 3px solid #42929D;
              text-align: center;
              padding: 2.5px;
              -webkit-transition: all .25s ease;
              transition: all .25s ease; }
              .loginContainer > .row > .panel > .panel-body > .loginBlock > .loginForm > div > input:focus {
                border-color: #84C3C8;
                outline: 0; }
            .loginContainer > .row > .panel > .panel-body > .loginBlock > .loginForm > div > input[type=submit] {
              border: none;
              padding: 10px 0;
              width: 100%;
              background-color: #42929D;
              color: white; }
              .loginContainer > .row > .panel > .panel-body > .loginBlock > .loginForm > div > input[type=submit]:hover {
                background-color: #84C3C8; }
      .loginContainer > .row > .panel > .panel-body > .signupLinkBlock {
        height: 30%;
        font-size: 0.85rem;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        .loginContainer > .row > .panel > .panel-body > .signupLinkBlock > div {
          text-align: center;
          color: #42929D; }
          .loginContainer > .row > .panel > .panel-body > .signupLinkBlock > div > a {
            color: #42929D;
            border-top: 2px solid white;
            border-bottom: 2px solid #42929D;
            border-radius: 2.5%;
            padding: 2.5px 5px;
            -webkit-transition: all .25s ease;
            transition: all .25s ease; }
            .loginContainer > .row > .panel > .panel-body > .signupLinkBlock > div > a:hover {
              text-decoration: none;
              background-color: #42929D;
              color: white; }
      .loginContainer > .row > .panel > .panel-body > .signupBlock {
        height: 80%; }
        .loginContainer > .row > .panel > .panel-body > .signupBlock > .signupForm {
          height: 100%;
          width: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
          .loginContainer > .row > .panel > .panel-body > .signupBlock > .signupForm > div {
            height: 20%;
            width: 90%;
            font-size: 1rem;
            color: #42929D;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
            .loginContainer > .row > .panel > .panel-body > .signupBlock > .signupForm > div > i {
              width: 15%;
              font-size: 1.25rem; }
            .loginContainer > .row > .panel > .panel-body > .signupBlock > .signupForm > div > input {
              width: 85%;
              margin-top: 5px;
              border-radius: 10px;
              height: 50px;
              border: 3px solid #42929D;
              text-align: center;
              padding: 2.5px;
              -webkit-transition: all .25s ease;
              transition: all .25s ease; }
              .loginContainer > .row > .panel > .panel-body > .signupBlock > .signupForm > div > input:focus {
                border-color: #84C3C8;
                outline: 0; }
            .loginContainer > .row > .panel > .panel-body > .signupBlock > .signupForm > div > div {
              width: 50%;
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -webkit-flex-direction: column;
              -ms-flex-direction: column;
              flex-direction: column;
              -webkit-box-pack: center;
              -webkit-justify-content: center;
              -ms-flex-pack: center;
              justify-content: center;
              -webkit-box-align: center;
              -webkit-align-items: center;
              -ms-flex-align: center;
              align-items: center;
              -webkit-flex-wrap: wrap;
              -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
              .loginContainer > .row > .panel > .panel-body > .signupBlock > .signupForm > div > div > * {
                margin: 0; }
              .loginContainer > .row > .panel > .panel-body > .signupBlock > .signupForm > div > div > label {
                font-size: 0.8rem; }
            .loginContainer > .row > .panel > .panel-body > .signupBlock > .signupForm > div > input[type=submit] {
              border: none;
              padding: 10px 0;
              width: 100%;
              background-color: #42929D;
              color: white; }
              .loginContainer > .row > .panel > .panel-body > .signupBlock > .signupForm > div > input[type=submit]:hover {
                background-color: #84C3C8; }
      .loginContainer > .row > .panel > .panel-body > .loginLinkBlock {
        height: 20%;
        font-size: 0.85rem;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        .loginContainer > .row > .panel > .panel-body > .loginLinkBlock > div {
          text-align: center;
          color: #42929D; }
          .loginContainer > .row > .panel > .panel-body > .loginLinkBlock > div > a {
            color: #42929D;
            border-top: 2px solid white;
            border-bottom: 2px solid #42929D;
            border-radius: 2.5%;
            padding: 2.5px 5px;
            -webkit-transition: all .25s ease;
            transition: all .25s ease; }
            .loginContainer > .row > .panel > .panel-body > .loginLinkBlock > div > a:hover {
              text-decoration: none;
              background-color: #42929D;
              color: white; }

/**************************
  FEED
**************************/
.feedContainer .row .col-lg-6 {
  margin-bottom: 20px; }
  .feedContainer .row .col-lg-6 .individualStylist {
    display: flex;
    height: 200px;
    width: 100%;
    border: solid 1px #767877;
    padding: 15px; }
    .feedContainer .row .col-lg-6 .individualStylist .profileImage {
      flex: 1;
      display: flex;
      align-items: center;
      margin-left: 15px; }
      .feedContainer .row .col-lg-6 .individualStylist .profileImage img {
        border-radius: 100%;
        max-height: 200px; }
    .feedContainer .row .col-lg-6 .individualStylist .infoBlock {
      flex: 3;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .feedContainer .row .col-lg-6 .individualStylist .infoBlock .circle {
        background-color: #F8D9D6;
        border-radius: 100%;
        height: 75px;
        width: 75px;
        margin: auto; }
      .feedContainer .row .col-lg-6 .individualStylist .infoBlock p {
        text-align: center; }
      .feedContainer .row .col-lg-6 .individualStylist .infoBlock input {
        width: 100%;
        color: white;
        background-color: #42929D;
        border-radius: 2.5%;
        border: none;
        text-align: center;
        padding: 10px 0;
        -webkit-transition: all .25s ease;
        transition: all .25s ease; }
        .feedContainer .row .col-lg-6 .individualStylist .infoBlock input:hover {
          background-color: #84C3C8; }

.headerWrap {
  height: 50px;
  width: 100%;
  background-color: #42929D; }

.contentWrap {
  width: 100%;
  height: 100%;
  min-height: 1000px;
  max-width: 1000px;
  margin: 0 auto; }
  .contentWrap .rating {
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .contentWrap .rating i {
      color: black; }
  .contentWrap .skillsWrap {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .contentWrap .skillsWrap .circles {
      height: 150px;
      width: 150px;
      background-color: #F8D9D6;
      margin-left: 10px;
      margin-right: 10px; }
  .contentWrap .aboutWrap {
    width: 80%;
    height: 200px;
    border-bottom: 1px solid lightgray;
    margin: 0 auto;
    margin-top: 50px; }
    .contentWrap .aboutWrap h1 {
      margin-bottom: 25px; }
  .contentWrap .availability {
    width: 80%;
    height: 200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .contentWrap .availability .dates {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 100%;
      height: 50px;
      font-size: 24px;
      font-weight: bold; }
      .contentWrap .availability .dates .date {
        height: 35px;
        width: 50px;
        text-align: center;
        -webkit-transition: all .25s ease;
        transition: all .25s ease; }
      .contentWrap .availability .dates .date:hover {
        cursor: pointer;
        background-color: lightgray;
        color: black; }
      .contentWrap .availability .dates .dateInactive {
        color: lightgray; }

/**************************
  NAVBAR
**************************/
nav {
  margin-bottom: 75px;
  border: 0;
  height: 50px;
  background-color: #42929D;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  nav > div {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  nav > div:first-of-type {
    width: 23.625%;
    font-size: 1.5rem;
    font-family: "Lobster Two", cursive;
    color: #F8D9D6; }
  nav > div:nth-of-type(2) {
    width: 21.375%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: flex-end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    nav > div:nth-of-type(2) > button {
      position: relative;
      background-color: #F8D9D6;
      color: #42929D;
      border-radius: 5px;
      padding: 0;
      border: 0;
      width: 100%;
      height: 70%;
      z-index: 9;
      font-size: 1rem;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-transition: all .25s ease;
      transition: all .25s ease; }
      nav > div:nth-of-type(2) > button:hover {
        background-color: #84C3C8;
        color: white; }
      nav > div:nth-of-type(2) > button:focus {
        outline: 0; }
  nav > div:nth-of-type(3) {
    width: 10%;
    position: relative;
    background-color: pink; }
    nav > div:nth-of-type(3) > img {
      border-radius: 50%;
      position: relative;
      top: 0;
      max-width: 110%;
      border: 10px solid #42929D;
      box-sizing: content-box;
      z-index: 10; }
  nav > div:nth-of-type(4) {
    width: 35%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-around;
    -webkit-justify-content: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    nav > div:nth-of-type(4) > a {
      position: relative;
      background-color: #F8D9D6;
      color: #42929D;
      border-radius: 5px;
      width: 47.5%;
      height: 70%;
      z-index: 9;
      font-size: 1.4rem;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-transition: all .25s ease;
      transition: all .25s ease; }
      nav > div:nth-of-type(4) > a:hover {
        text-decoration: none;
        background-color: #84C3C8;
        color: white; }
  nav > div:nth-of-type(5) {
    width: 10%;
    font-size: 1.4rem; }
    nav > div:nth-of-type(5) > a {
      color: #F8D9D6;
      -webkit-transition: all .25s ease;
      transition: all .25s ease; }
      nav > div:nth-of-type(5) > a:hover {
        color: white; }

/*# sourceMappingURL=styles.css.map */
