<div class="headerWrap">

</div>
<div class="contentWrap">
  <div class="rating">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
  </div>
  <div class="skillsWrap">
    <div class="circles"></div>
    <div class="circles"></div>
    <div class="circles"></div>
  </div>
  <div class="aboutWrap">
    <div class="about">
      <h1>About me</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat quo explicabo quibusdam assumenda sit rerum, ducimus nemo quisquam iure, veniam vel odio repudiandae pariatur expedita doloremque quas blanditiis vitae placeat.</p>
    </div>
  </div>
  <div class="availability">
    <h2>Available:</h2><p>1:00PM - 4:00PM</p>
    <div class="dates">
      <div class="date dateInactive">S</div>
      <div class="date dateInactive">M</div>
      <div class="date dateInactive">T</div>
      <div class="date dateInactive">W</div>
      <div class="date dateInactive">T</div>
      <div class="date dateInactive">F</div>
      <div class="date dateInactive">S</div>
    </div>
  </div>
</div>
