<div class="container loginContainer">
  <div class="row">
    <div class="center-form panel">
      <h1 class="text-center loginTitle">Beaut</h1>
      <div class="panel-body">
        <div class="loginBlock">
          <div>
            <i class="fa fa-user"></i>
            <input type="text" name="loginUsername" id="loginUsername" placeholder="Username">
          </div>
          <div>
            <i class="fa fa-key"></i>
            <input type="password" name="loginPassword" id="loginPassword" placeholder="Password">
          </div>
        </div>
        <div class="signupBlock">
          <div>
            Don't have an account yet?<br><a href="#">Sign up here</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
