<div class="formPageWrap" ng-controller="LoginController">
  <div class="headerWrap">
    <h1>Hello!</h1>
    <h2>We need some info before you can get started, beauty queen.</h2>
  </div>
  <div class="formWrap">
    <form>
      <div class="formName">
        <h2>Name</h2>
        <input type="text" placeholder="Name" ng-model="userInfo.name"/>
      </div>
      <div class="formImage">
        <h2>Profile Picture</h2>
        <input type="text" placeholder="Image URL" ng-model="userInfo.picture"/>
      </div>
      <div class="formNumber">
        <h2>Contact Number</h2>
        <input type="text" placeholder="Number" ng-model="userInfo.number"/>
      </div>
    <div class="formSubmit">
      <input type="submit" name="formSubmitButton" id="formSubmitButton" value="SUBMIT" ng-click="submitForm(userInfo)">
    </div>
  </form>
  </div>
</div>
