<nav ng-controller="AccountController">
  <div>
    <span>Beaut</span>
    <span>B</span>
  </div>
  <div>
    <button ng-if="!stylist" id="stylistActivate">
        <a href="/#/feed/{{userId}}"><i class="fa fa-search"></i></a>
      </button>
      <button ng-if="!activeCheck() && stylist" id="stylistActivate" ng-click="toggleStylin()" ng-if="!active">
        <i class="fa fa-scissors"></i>
      </button>
      <button ng-if="activeCheck() && stylist" id="stylistActivate" ng-click="toggleStylin()" ng-if="active">
         <i class="fa fa-times"></i>
        </button>
    <a href="/#/mailbox">
      <i class="fa fa-envelope-o"></i>
    </a>
    <a href="/#/account/{{userId}}">
      <i class="fa fa-user"></i>
    </a>
  </div>
  <div class="text-center">
    <img id="userProfileImage" ng-data="{{userId}}" ng-src="{{picture}}">
  </div>
  <div class="text-center">
    <a href="/#/mailbox/{{userId}}">
      <i class="fa fa-envelope-o"></i>
    </a>
    <a href="/#/account/{{userId}}">
      <i class="fa fa-user"></i>
    </a>
  </div>
  <div>
    <a href="/#/login">
      <i class="fa fa-sign-out"></i>
    </a>
  </div>
</nav>
