<nav ng-controller="AccountController">
  <div>
    <span>Beaut</span>
    <span>B</span>
  </div>
  <div>
    <button id="stylistActivate">
      <span>START STYLIN'</span>
      <span><i class="fa fa-scissors"></i></span>
    </button>
    <a href="/#/mailbox">
      <i class="fa fa-envelope-o"></i>
    </a>
    <a href="/#/account/blah">
      <i class="fa fa-user"></i>
    </a>
  </div>
  <div>
    <img src="http://www.placehold.it/250x250">
  </div>
  <div>
    <a href="/#/mailbox">
      <i class="fa fa-envelope-o"></i>
    </a>
    <a href="/#/account/blah">
      <i class="fa fa-user"></i>
    </a>
  </div>
  <div>
    <a href="/#/login">
      <i class="fa fa-sign-out"></i>
    </a>
  </div>
</nav>
