<div class="container signupContainer">
  <div class="row">
    <div class="center-form panel">
      <h1 class="text-center signupTitle">Beaut</h1>
      <div class="panel-body">
        <div class="signupBlock">
          <form id="loginForm" class="signupForm">
            <div>
              <i class="fa fa-user"></i>
              <input type="text" name="signupUsername" id="signupUsername" placeholder="Username" ng-model="userInfo.email">
            </div>
            <div>
              <i class="fa fa-key"></i>
              <input type="password" name="signupPassword" id="signupPassword" placeholder="Password" ng-model="userInfo.password">
            </div>
            <div>
              <i class="fa fa-key"></i>
              <input type="password" name="signupPasswordConfirm" id="signupPasswordConfirm" placeholder="Confirm Password" ng-model="userInfo.passwordCheck">
            </div>
            <div>
              <input type="submit" name="signupSubmit" id="signupSubmit" value="REGISTER" ng-click="signup(userInfo)">
            </div>
          </form>
        </div>
        <div class="loginLinkBlock">
          <div>
            Already have an account?<br><a href="/#/login">Login here</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
